h1 {
    font-size: 2.5em !important; 
    font-weight: bold;
}

.offset2 {
  margin-left: 140px;
}
.table-bordered {
    -webkit-border-radius: initial;
    -moz-border-radius: initial;
    border-radius: initial;
}
.signature-pad::before, .signature-pad::after {
    position: relative;
    z-index: -1;
    content: "";
    width: 40%;
    height: 10px;
    bottom: 10px;
    background: transparent;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}
.signature-pad::before {
    left: 20px;
    -webkit-transform: skew(-3deg) rotate(-3deg);
    transform: skew(-3deg) rotate(-3deg);
}
.signature-pad::after {
    right: 20px;
    -webkit-transform: skew(3deg) rotate(3deg);
    transform: skew(3deg) rotate(3deg);
}
.signature-pad--body {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    border: 1px solid #f4f4f4;
    height: 10em;
}
.signature-pad--body canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*border-radius: 4px;*/
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;*/
    border: 1px solid rgba(0, 0, 0, 0.27);
}
.signature-pad--footer {
    color: #C3C3C3;
    text-align: center;
    font-size: 1.2em;
    margin-top: 8px;
}
.signature-pad--actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 8px;
}
.signature-pad {
    width: 100%;
    height: 100%;
    max-width: 700px;
    max-height: 460px;
}
.table-fixed {
    table-layout: fixed;
}